<%=content_tag(:div,"Title: " + @post.title) %>
<%=content_tag(:div,"Content: "+ @post.content) %>

<% @post.categories.each do |category| %>
  <p><%= category.name %></p>
<% end %>

<% @post.comments.each do |comment| %>
  <p><%= comment.user.username %> says: <%= comment.content %></p>
<% end %>

<% @post.users.uniq{|u| u.username }.each do |user| %>
  <p><%= link_to user.username, user %></p>
<% end %>

<%= form_for @comment do |f| %>
  <%= f.label :content %>:
  <%= f.text_field :content %><br>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: "Select a user:" %><br>
  <%= f.fields_for :user, @comment.user do |user_fields| %><br>
    <%= user_fields.text_field :username %>
  <% end %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.submit %>
<% end %>
